@import 'common';
.add-question-confirmation-modal {
  .round-button {
    font-size: 1.6rem;
  }
  p {
    margin-top: 5vh;
    padding: 0 8px;
  }
  .logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .logos a {
    border-radius: 9px;
    box-shadow: rgba(128, 128, 128, 0.5) 0 1px 4px 0;
    height: 130px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s;
    box-sizing: border-box;
    transition: background-color 0.2s;
    &:hover {
      background-color: rgb(250, 250, 250);
    }
    @include mediaquery('gt-sm') {
      a:last-child img {
        max-width: 115px;
      }
    }
    img {
      max-height: 115px;
      max-width: 100%;
    }
  }
}
