@import 'common';
.questions-sidebar {
  box-sizing: border-box;
  @include mediaquery('gt-sm') {
    top: var(--sticky-header-height);
    height: calc(100vh - var(--sticky-header-height) + var(--footer-height));
    width: var(--sidebar-width);
    padding: 30px calc(var(--container-large-padding) + var(--shadow-width)) 0 0;
    position: sticky;
    z-index: 1;
    &::after {
      content: '';
      height: calc(100% + var(--footer-height));
      position: absolute;
      width: 1px;
      box-shadow: 4px 0 4px rgba(0, 0, 0, 0.23);
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
  .app-sidebar--accept,
  .app-sidebar--close {
    display: none;
  }
  @include mediaquery('ls-md') {
    .app-sidebar {
      @include hardwareAcceleration();
      position: fixed;
      background: #f8f8f8;
      left: 0;
      top: 0;
      transform: translate3d(-100%, 0, 0);
      width: 100%;
      z-index: var(--z-index-mobile-sidebar);
      height: 100%;
      padding: 30px var(--container-small-padding) 20px;
      box-sizing: border-box;
      transition: transform 0.3s;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      &.open {
        transform: translate3d(0, 0, 0);
      }
      &--accept {
        display: block;
        width: 100%;
        margin-top: auto;
        box-sizing: border-box;
      }
      &--close {
        display: block;
        position: absolute;
        right: 5px;
        top: 5px;
        appearance: none;
        border: 0;
        background: transparent;
        color: var(--purple-branding-light);
        cursor: pointer;
        transition: color 0.2s, background-color 0.2s;
        border-radius: 50%;
        width: 31px;
        height: 31px;
        line-height: 29px;
        font-size: 4rem;
        text-align: center;
        padding: 0 0 1px 0;
        transition: background-color 0.1s, color 0.1s, box-shadow 0.1s;
        &:hover {
          background-color: var(--purple-branding);
          color: var(--white-text);
        }
        &:focus {
          outline: 0;
          box-shadow: var(--purple-branding) 0 0 10px;
        }
      }
    }
  }
}
