@import "common";
.app-modal-container {
  @include hardwareAcceleration();
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparentize($white-text, 0.1);
  z-index: $z-index-modal-container;
  display: none;

  &.fade-enter, &.fade-exit, &.fade-enter-done {
    display: block;
  }
}

.app-modal {
  @include hardwareAcceleration();
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  @include mediaquery('gt-sm') {
    top: 10%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 768px;
    height: 80%;
  }
  .action-icon {
    margin-bottom: 0px;
    @include mediaquery('gt-sm') {
      margin-bottom: 15px;
    }
  }
  &--header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: #{$z-index-modal + 1};
  }
  &--close {
    position: absolute;
    right: 25px;
    top: 15px;
    appearance: none;
    border: 0;
    background: transparent;
    color: $purple-branding-light;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
    border-radius: 50%;
    width: 31px;
    height: 31px;
    line-height: 29px;
    font-size: 4rem;
    text-align: center;
    padding: 0 0 1px 0;
    transition: background-color 0.1s, color 0.1s, box-shadow 0.1s;
    &:hover {
      background-color: $purple-branding;
      color: $white-text;
    }
    &:focus {
      outline: 0;
      box-shadow: $purple-branding 0 0 10px;
    }
  }
  &--content {
    -webkit-overflow-scrolling: touch;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    z-index: $z-index-modal;
    box-shadow: $modal-shadow 0 2px 6px 1px;
    box-sizing: border-box;
    overflow-y: auto;
    position: absolute;
    height: 100%;
    padding: 35px 15px;
    @include mediaquery('gt-sm') {
      height: auto;
      padding: 45px 90px;
    }
  }
  &--body {
    font-size: 1.6rem;
    color: $purple-branding;
    line-height: 2;
    text-align: center;
  }
  &--footer {
    .branding-button-inverse {
      box-shadow: $grey-text-secondary 0 2px 4px;
    }
    >* {
      display: flex;
      flex-direction: column;
      align-items: center;
      >button {
        margin-bottom: 10px;
        width: 85%;
      }
      @include mediaquery('gt-sm') {
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        >button {
          margin-bottom: 0;
          width: auto;
          &:first-child {
            margin-left: 15px;
          }
        }
      }
    }
  }
  &--title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    color: $purple-branding;
    margin-top: 0;
  }
  .app-select {
    width: 100%;
    @include mediaquery('gt-sm') {
      width: 240px;
    }
  }
  .CodeMirror,
  .CodeMirror-scroll {
    min-height: 200px;
    @include mediaquery('gt-sm') {
      min-height: 300px;
    }
  }
}
