@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.select-purple {
		background-image: url("/select-purple.svg");
		background-size: 25px;
		background-position: 100% 50%;
		background-repeat: no-repeat;
	}

	.level-button-shadows:focus {
		box-shadow: inset 0px 0px 3px var(--color-shadow-darker);
	}

	.level-button-active-shadows {
		box-shadow: inset 0 2px 3px var(--color-shadow-darker);
	}

	.level-button-active-shadows:focus {
		box-shadow: 0 0 10px var(--color-shadow-dark), 0 2px 3px var(--color-shadow-darker);
	}

	.level-button-active-shadows:hover {
		box-shadow: inset 0 2px 3px var(--color-shadow-dark);
	}

	.level-button-junior {
		--color-shadow-dark: var(--junior-main-color-dark);
		--color-shadow-darker: var(--junior-main-color-darker);
	}

	.level-button-mid {
		--color-shadow-dark: var(--mid-main-color-dark);
		--color-shadow-darker: var(--mid-main-color-darker);
	}

	.level-button-senior {
		--color-shadow-dark: var(--senior-main-color-dark);
		--color-shadow-darker: var(--senior-main-color-darker);
	}
}
