@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.select-purple {
		background-image: url("/select-purple.svg");
		background-size: 25px;
		background-position: 100% 50%;
		background-repeat: no-repeat;
	}
}
