@import "common";
.app-filter {
  &--technologies {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 7px 0 17px 0;
    justify-content: space-between;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;

    @include mediaquery('gt-sm') {
      flex-wrap: wrap;
      overflow: initial;
    }
  }
  &--technology {
    display: block;
    padding: 0;
    margin: 0 15px 0 0;
    &:last-child {
      margin: 0;
    }
    @include mediaquery('gt-sm') {
      margin: 0;
    }
    a {
      color: $grey-text-primary;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      width: 55px;
      height: 55px;
      text-decoration: none;
      box-sizing: border-box;
      border-radius: 9px;
      background-color: $white-text;
      box-shadow: rgba(128, 128, 128, 0.5) 0 1px 4px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      border: 0;
      appearance: none;
      margin: 12px 0;
      transition: background-color 0.1s;
      &.active {
        background-color: $purple-branding-superlight;
        border: 1px solid $purple-branding;
      }
      &:hover {
        background-color: $purple-branding-superlight;
      }
    }
    &--label {
      font-size: 1rem;
    }
    @include mediaquery('large-filters') {
      a {
        width: 85px;
        height: 85px;
      }
      &--label {
        font-size: 1.4rem;
      }
      [class*="devicon-"] {
        font-size: 5rem;
      }
    }
  }
}
