@import 'common';
.app-questions--footer {
  display: none;
  @include mediaquery('gt-sm') {
    background-color: var(--grey-shadow);
    display: flex;
    padding: 15px;
    box-shadow: inset var(--inset-box-shadow) 0 1px 3px 0;
    color: var(--black-text-light);
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    p {
      margin: 0;
    }
  }
}
