version: 2.1
orbs:
  node: circleci/node@1.1.6

jobs:
  compare-sizes:
    docker:
      - image: circleci/node:12-browsers
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm ci

      - run: npm run get-base-branch
      - run: git status
      - run: npm run build > analyze.next
      - run: cat analyze.next
      - run: npm run create-size && mv size-snapshot.json /tmp/current-size-snapshot.json
      - run: rm analyze.next && rm -rf .next

      - run: git fetch && git checkout $(cat /tmp/.basebranch) && git reset --hard origin/$(cat /tmp/.basebranch)
      - run: git status
      - run: npm ci
      - run: npm run build > analyze.next
      - run: cat analyze.next
      - run: mv analyze.next /tmp/

      - run: git fetch && git checkout $CIRCLE_BRANCH && git reset --hard origin/$CIRCLE_BRANCH
      - run: git status
      - run: npm ci

      - run: mv /tmp/analyze.next ./
      - run: npm run create-size && mv size-snapshot.json previous-size-snapshot.json
      - run: mv /tmp/current-size-snapshot.json ./

      - run: mkdir -p /tmp/lighthouse/
      - run: npm run danger ci

      - store_artifacts:
          path: ./current-size-snapshot.json
      - store_artifacts:
          path: /tmp/lighthouse

workflows:
  compare-sizes:
    jobs:
      - compare-sizes:
          filters:
            branches:
              ignore:
                - /dependabot\/*/
