version: 2.1
orbs:
  node: circleci/node@1.1.6
  lighthouse-check: foo-software/lighthouse-check@0.0.12

jobs:
  compare-sizes:
    executor: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm ci

      - run: git status
      - run: npm run build > analyze.next
      - run: cat analyze.next
      - run: npm run create-size && mv size-snapshot.json /tmp/current-size-snapshot.json
      - run: rm analyze.next && rm -rf .next

      - run: git fetch && git checkout develop && git reset --hard origin/develop
      - run: git status
      - run: npm ci
      - run: npm run build > analyze.next
      - run: cat analyze.next
      - run: npm run create-size && mv size-snapshot.json previous-size-snapshot.json
      - run: mv /tmp/current-size-snapshot.json ./

      - run: npm run danger ci

      - store_artifacts:
          path: ./current-size-snapshot.json

  lighthouse:
    executor: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm ci
      - run: ./node_modules/.bin/ts-node-script scripts/waitForVercel.ts
      - run: cat .deployment-url

workflows:
  compare-sizes:
    jobs:
      - compare-sizes
