@import 'common';
.app-questions {
  box-sizing: border-box;
  padding: 15px 0 0 0;
  width: 100%;
  @include mediaquery('gt-sm') {
    padding: 30px 0 60px var(--container-large-padding);
    width: calc(100% - var(--sidebar-width));
  }
  &--sorting-container {
    height: 18px;
    line-height: 18px;
  }
  &--sorting-label {
    margin-right: 1em;
  }
  &--sorting-select {
    box-sizing: border-box;
    appearance: none;
    color: var(--grey-text-darker);
    border: none;
    cursor: pointer;
    padding: 4px 25px 4px 4px;
    background-color: white;
    background-image: url(/images/select.svg);
    background-size: 12px 6px;
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) 50%;

    [data-whatinput='mouse'] &:focus {
      outline: none;
    }
  }
}
