@import 'variables';
@import 'common';

$base-font-size: 10px;
$base-font-family: 'Fira Sans', sans-serif;
@import 'node_modules/normalize-scss/sass/normalize.scss';

@import 'global';
@include normalize();

body {
  overflow-y: scroll;
}
