@import "common";

.mobile-action-buttons {
  display: none;
  @include mediaquery('ls-md') {
    display: flex;
    position: fixed;
    position: sticky;
    width: 100%;
    bottom: 30px;
    z-index: #{$z-index-mobile-sidebar - 1};
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10px;
    button,
    a {
      display: block;
      z-index: #{$z-index-mobile-sidebar - 1};
      transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
      margin: 0 7px;
    }
    .open-sidebar {
      background-image: url(/static/images/action-icons/filter.svg);
    }
    .add-question {
      background-image: url(/static/images/action-icons/add2.svg);
    }
    .download {
      background-image: url(/static/images/action-icons/download.svg);
      background-size: 18px;
      background-color: $red-branding;
      &.disabled {
        background-color: #C5C5C5;
        pointer-events: none;
      }
    }
  }
}
