@import 'common';
.round-button {
  display: inline-block;
  text-align: center;
  min-width: 160px;
  line-height: 2.3em;
  font-size: 1.3rem;
  appearance: none;
  border-radius: 6px;
  border: 1px solid transparent;
  white-space: nowrap;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  padding: 3px 2.5em;
  cursor: pointer;
  transition: color 0.1s, background-color 0.2s, border-color 0.1s, opacity 0.2s;
  @include mediaquery('gt-sm') {
    padding: 0 2.5em;
  }
  &.loading {
    text-indent: -9999em;
    position: relative;
    &::after {
      content: '';
      color: currentColor;
      font-size: 13px;
      text-indent: -9999em;
      overflow: hidden;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      transform: translateZ(0);
      animation: load6 1.7s infinite ease, round 1.7s infinite ease;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0.00001px);
      z-index: var(--z-index-spinner);
    }
  }
  &:hover {
    cursor: pointer;
  }
  &:disabled,
  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;
    opacity: 0.7;
  }
  &:focus {
    outline: 0;
  }
  &.alert-button {
    color: var(--white-text);
    font-weight: 700;
    background-color: var(--red-branding);
    &:hover {
      background-color: var(--red-branding-dark);
    }
    &:disabled,
    &.disabled {
      background-color: #bfbfbf;
    }
  }
  &.branding-button {
    color: var(--purple-branding);
    border-color: var(--purple-branding);
    background-color: transparent;
    &:hover {
      background-color: var(--purple-branding-superlight);
    }
    &:focus {
      box-shadow: var(--purple-branding) 0 0 10px;
    }
  }
  &.branding-button-inverse {
    color: var(--white-text);
    border-color: var(--white-text);
    background-color: var(--purple-branding);
    &:hover {
      background-color: var(--purple-branding-light);
    }
    &:focus {
      box-shadow: var(--white-text) 0 0 10px;
    }
  }
  &.alternative-button {
    color: var(--white-text);
    border-color: var(--white-text);
    background-color: var(--yellow-branding);
    &:hover {
      background-color: var(--yellow-branding-dark);
    }
    &:focus {
      box-shadow: var(--yellow-branding) 0 0 10px;
    }
  }
}

.circle-button {
  display: block;
  font-size: 30px;
  appearance: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--purple-branding);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--grey-text-darker) 1px 2px 4px 0;
}
