html,
a,
p,
li {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body,
button {
  color: var(--grey-text-primary);
}

body {
  background: var(--grey-background);
  font-size: 1.4rem;
  line-height: 1.4;
}

a {
  color: var(--purple-branding-text);
  transition: color 0.1s;
}

code {
  font-feature-settings: 'calt' 1;
  font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
}
