:root {
  --white: #ffffff;
  --grey: #e6e6e6;
  --grey-light: #f1f1f1;
  --grey-dark: #dcdada;
  --yellow-light: #fbffd7;
  --yellow: #f0df6f;
  --aquamarine: #7dc89b;
  --green: #0a803e;
  --red-light: #c4473a;
  --red: #e54d26;
  --red-dark: #e21e14;
  --cyan: #7bdef9;
  --blue-light: #3e8fc6;
  --blue: #0c5aff;
  --purple: #673ab7;
  --purple-light: #daceef;
  --purple-dark: #401886;
  --black-light: #292929;
  --black: #000000;

  // new colors
  --black-text-light: #292929;
  --grey-text-primary: #737373;
  --grey-text-secondary: #9c9c9c;
  --grey-text-darker: #464646;
  --grey-shadow: #e4e4e4;
  --modal-shadow: #adadad;
  --white-text: #ffffff;
  --white-text-dark: #e6e6e6; // dark 10%;
  --grey-background: #f8f8f8;
  --purple-branding: #673ab7;
  --purple-branding-light: #7446c4; // light 5%
  --purple-border-lighter: #713ccf;
  --purple-branding-superlight: #f1edf9;
  --purple-branding-light: #d4c9e9;
  --red-branding: #dc244a;
  --red-branding-dark: #c72042; // dark 5%
  --orange-notification: #fdcc52;
  --yellow-branding: #ffb90b;
  --yellow-branding-dark: #f1ac00; // dark 5%

  --junior-border-color: #499dff;
  --junior-background-color: #edf3f8;
  --mid-border-color: #27be31;
  --mid-background-color: #edf8f2;

  --container-small-width: 100%;
  --container-large-width: 1030px;
  --container-small-padding: 10px;
  --container-large-padding: 45px;
  --navigation-header-height: 60px;
  --sticky-header-height: 55px;
  --footer-height: 55px;
  --sidebar-width: 245px;
  --shadow-width: 2px;

  --html5-color: #e54d26;
  --css3-color: #3e8fc6;
  --javascript-color: #f0df6f;
  --angularjs-color: #c4473a;
  --react-color: #7bdef9;
  --git-color: #e54d26;
  --other-color: #7dc89b;

  --junior-light-color: #edf3f8;
  --junior-main-color: #499dff;
  --junior-main-color-dark: #1682ff; // dark 10%
  --junior-main-color-darker: #0068e2; // dark 20%
  --junior-main-color-light: #7cb8ff; // light 10%

  --mid-light-color: #edf8f2;
  --mid-main-color: #27be31;
  --mid-main-color-dark: #1e9426; // dark 10%
  --mid-main-color-darker: #16691b; // dark 20%
  --mid-main-color-light: #40d84a; // light 10%

  --senior-light-color: #fffbf0;
  --senior-main-color: #ffb90b;
  --senior-main-color-dark: #d79900; // dark 10%
  --senior-main-color-darker: #a47500; // dark 20%
  --senior-main-color-light: #ffc83e; // light 10%

  --z-index-mobile-sidebar: 9980;
  --z-index-modal-container: 9990;
  --z-index-modal: 10000;
  --z-index-spinner: 10010;
}
