@import 'common';

.container {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: var(--container-small-width);
  padding: 0 var(--container-small-padding);
  @include mediaquery('gt-sm') {
    max-width: var(--container-large-width);
    padding: 0 var(--container-large-padding);
  }
}
