@import "common";
.app-questions--list {
  margin-top: 15px;
  margin-bottom: 15px;
  article {
    min-height: 81px;
    position: relative;
    margin-bottom: 10px;
    @include mediaquery('gt-sm') {
      margin-bottom: 15px;
    }
  }
}
