@import 'common';

.app-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-height: calc(100vh - #{$footer-height + $sticky-header-height});
  background-color: $grey-background;
}

.app-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
