@import 'common';

.app-select {
  width: 240px;
  max-width: 100%;
  margin: 0;
  color: var(--purple-branding);
  font-size: 1.3rem;
  box-sizing: border-box;
  appearance: none;
  border: none;
  cursor: pointer;
  padding: 9px 25px 9px 4px;
  background-image: url(/images/select-purple.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-color: transparent;
  border-bottom: 1px solid var(--purple-branding);
  border-radius: 0;
  text-transform: capitalize;
  transition: background-color 0.1s, color 0.1s, box-shadow 0.1s;
  &:focus {
    outline: 0;
    box-shadow: var(--purple-branding) 0 0 10px;
  }
  &:hover {
    background-color: rgba(var(--purple-branding), 0.05);
  }
}

.add-question-modal {
  .app-question-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    text-align: left;
    @include mediaquery('gt-sm') {
      padding-bottom: 30px;
    }
    & > * {
      width: 100%;
    }
    &--options-container {
      display: flex;
      margin: 0 0 30px 0;
      flex-direction: column;
      align-items: stretch;
      @include mediaquery('gt-sm') {
        margin: 40px 0 30px 0;
        flex-direction: row;
        justify-content: center;
      }
    }
    &--level {
      margin-top: 15px;
    }
    @include mediaquery('gt-sm') {
      &--technology {
        margin-right: 2.5%;
      }
      &--level {
        margin-top: 0;
        margin-left: 2.5%;
      }
    }
  }
  .branding-button-inverse {
    border-color: transparent;
  }
}
