@import 'common';
.app-filter--title {
  color: var(--purple-branding-text);
  font-size: 1.4rem;
  border-bottom: 1px solid var(--purple-branding-text);
  font-weight: 400;
  margin: 0;
  padding-bottom: 7px;
}

.app-filter {
  &--levels {
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    @include mediaquery('large-filters') {
      flex-direction: column;
      margin: 20px 0;
    }
    @include mediaquery('ls-md') {
      justify-content: center;
      flex-direction: row;
    }
  }
  &--level {
    @include mediaquery('ls-md') {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
    button {
      display: block;
      padding: 0;
      box-sizing: border-box;
      appearance: none;
      background-color: var(--white);
      box-shadow: rgba(128, 128, 128, 0.5) 0 1px 4px 0;
      border: 0;
      border-radius: 6px;
      margin-bottom: 12px;
      font-size: 1.3rem;
      font-weight: 400;
      cursor: pointer;
      transition: background-color 0.1s, border-color 0.1s, box-shadow 0.1s;
      width: 55px;
      height: 55px;
      &:focus {
        outline: none;
      }
      @include mediaquery('large-filters') {
        width: 100%;
        height: 30px;
      }
      @include mediaquery('ls-md') {
        width: 85px;
        height: 85px;
      }
    }

    &_junior {
      button:focus {
        box-shadow: inset var(--junior-main-color-darker) 0 0 3px;
      }
      button:hover {
        background-color: var(--junior-light-color);
      }
      button:active {
        transform: translateY(1px);
      }
      &.active {
        button {
          background-color: var(--junior-main-color);
          box-shadow: inset var(--junior-main-color-darker) 0 2px 3px;
          color: var(--white-text);
        }
        button:focus {
          box-shadow: var(--junior-main-color-dark) 0 0 10px,
            var(--junior-main-color-darker) 0 2px 3px;
        }
        button:hover {
          background-color: var(--junior-main-color-light);
          box-shadow: inset var(--junior-main-color-dark) 0 2px 3px;
        }
      }
    }

    &_mid {
      button:focus {
        box-shadow: inset var(--mid-main-color-darker) 0 0 3px;
      }
      button:hover {
        background-color: var(--mid-light-color);
      }
      button:active {
        transform: translateY(1px);
      }
      &.active {
        button {
          background-color: var(--mid-main-color);
          box-shadow: inset var(--mid-main-color-darker) 0 2px 3px;
          color: var(--white-text);
        }
        button:focus {
          box-shadow: var(--mid-main-color-dark) 0 0 10px, var(--mid-main-color-darker) 0 2px 3px;
        }
        button:hover {
          background-color: var(--mid-main-color-light);
          box-shadow: inset var(--mid-main-color-dark) 0 2px 3px;
        }
      }
    }

    &_senior {
      button:focus {
        box-shadow: inset var(--senior-main-color-darker) 0 0 3px;
      }
      button:hover {
        background-color: var(--senior-light-color);
      }
      button:active {
        transform: translateY(1px);
      }
      &.active {
        button {
          background-color: var(--senior-main-color);
          box-shadow: inset var(--senior-main-color-darker) 0 2px 3px;
          color: var(--white-text);
        }
        button:focus {
          box-shadow: var(--senior-main-color-dark) 0 0 10px,
            var(--senior-main-color-darker) 0 2px 3px;
        }
        button:hover {
          background-color: var(--senior-main-color-light);
          box-shadow: inset var(--senior-main-color-dark) 0 2px 3px;
        }
      }
    }
  }
}
