@import 'common';
$transition-time: 300ms;
$shadow-width: 2px;
.app-questions--question-container {
  padding: 0 $shadow-width;
  margin: 10px 0;
  @include mediaquery('gt-sm') {
    margin: 15px 0;
  }
}
.app-questions--question {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.19), 0 $shadow-width 4px rgba(0, 0, 0, 0.23);
  background-color: $white-text;
  box-sizing: border-box;
  padding: 15px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid $white-text;
  overflow: hidden;
  opacity: 1;
  transition: opacity $transition-time;
  @include mediaquery('gt-sm') {
    padding: 20px;
  }
  &.active {
    border-color: $purple-branding;
    article.ng-trigger-questionExit.ng-animating & {
      display: none;
    }
  }
  &_deleted {
    background-color: $purple-branding-superlight;
    align-items: center;
    color: $red-branding;
    width: calc(100% - #{$shadow-width * 2});
    border: 0;
    height: 71px;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: opacity $transition-time, z-index 0ms;
    transition-delay: 0ms, $transition-time;
    &.being-removed {
      z-index: 1;
      opacity: 1;
      transition-delay: 0ms, 0ms;
    }
    .action-icon,
    p {
      margin: 0;
    }
    .action-icon {
      position: absolute;
    }
    p {
      margin-left: 60px;
    }
    &--progress {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 5px;
      &::before {
        @keyframes fill {
          0% {
            width: 0%;
          }
          100% {
            width: 100%;
          }
        }
        content: '';
        width: 0;
        height: 5px;
        display: block;
        background: rgba(0, 0, 0, 0.19);
        animation: fill 5s linear;
      }
    }
  }
  .edit-btn {
    border: none;
    background: transparent;
    cursor: pointer;
  }
  &--remove-container {
    border-left: 1px solid $grey-background;
    width: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin-right: -5px;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-left: 10px;
    @include mediaquery('gt-sm') {
      margin-right: -20px;
      margin-top: -20px;
      margin-bottom: -20px;
    }
  }
  &--remove--icon {
    width: 35px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    appearance: none;
    border: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(/static/images/delete_forever_icon.svg);
    background-size: 20px;
  }
  &--checkbox {
    cursor: pointer;
    appearance: none;
    width: 25px;
    height: 25px;
    flex: 0 0 25px;
    border: none;
    box-sizing: content-box;
    background-position: -2px 2px;
    background-repeat: no-repeat;
    background-image: url(/static/images/checkbox.svg);
    background-size: 26px 52px;
    background-color: transparent;
    border: 2px solid transparent;

    padding-left: 2px;
    &:checked {
      background-position: -2px 100%;
    }
    &:focus {
      outline: 0;
    }
    [data-whatinput='keyboard'] &:focus {
      border-color: $purple-branding;
    }
  }
  &--text {
    flex: 1;
    margin-top: 2px;
    min-width: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    @include mediaquery('gt-sm') {
      margin-left: 1em;
      margin-right: 1em;
    }
    p,
    ul,
    blockquote {
      word-break: break-word;
      word-wrap: break-word;
    }
    *:first-child {
      margin-top: 0;
    }
    *:last-child {
      margin-bottom: 0;
    }
  }
  &--meta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 0.9em;
    text-align: center;
  }
  &--date {
    &_long {
      display: none;
    }
    &_short {
      display: block;
      width: 100%;
    }
    @include mediaquery('gt-sm') {
      &_long {
        display: block;
        width: 100%;
      }
      &_short {
        display: none;
      }
    }
  }
  &--tag {
    width: 60px;
    height: 30px;
    box-sizing: border-box;
    display: block;
    line-height: 30px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: capitalize;
    @include mediaquery('gt-sm') {
      width: 80px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &_junior {
      background-color: $junior-main-color;
      color: $white-text;
    }
    &_mid {
      background-color: $mid-main-color;
      color: $white-text;
    }
    &_senior {
      background-color: $senior-main-color;
      color: $white-text;
    }
  }
}
