@import 'common';

.questions-pagination {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 2rem 0 0 0;

    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      font-size: 1.6rem;
      margin: 0 10px 0 0;
      text-decoration: none;
      border-radius: 50%;
      border: 2px solid $purple;
      transition: 0.2s background-color, 0.2s border-color;

      &:hover {
        background-color: lighten($purple, 40%);
        // color: #fff;
      }

      &.active {
        background-color: $purple;
        color: #fff;
      }
    }
  }
}
