@import 'common';

.login-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  z-index: $z-index-modal;
  background: $purple;
}

.login-container {
  max-width: 520px;
  padding: 20vmin 30px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;

  .app-logo {
    width: 100%;
    max-width: 220px;
  }

  p {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin: 3rem 0 4rem 0;
  }

  footer {
    margin-top: 5rem;
    a {
      color: #fff;
    }
  }
}

.login-with-github {
  color: #333;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 1.6rem;
  border: 2px solid rgb(217, 217, 217);
  border-radius: 10px;
  background: url(/static/images/github.svg) 12px 50% / 25px no-repeat #fff;
  padding: 0 0 0 20px;
  width: 265px;
  box-sizing: border-box;
  height: 45px;
}
