@import "common";
@import "typography";
@import "buttons";
// @import "forms";
// @import "devicons";
// @import "icons";
// @import "global";
.container {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $container-small-width;
  padding: 0 $container-small-padding;
  @include mediaquery('gt-sm') {
    max-width: $container-large-width;
    padding: 0 $container-large-padding;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

.not-scrollable {
  overflow: hidden;
  position: fixed;
  touch-action: none;
}

.app-static-page {
  background: $white;
  margin: 15px 0;
  padding: 15px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: $black-text-light;
  pre {
    white-space: pre-wrap;
  }
  p {
    font-size: 1.5rem;
  }
}

pre[class*=language-]::after,
pre[class*=language-]::before {
  /* remove shadow from PRISM */
  display: none !important;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  99.9999% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes round {
  0% {
    transform: translate3d(-50%, -50%, 0.00001px) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0.00001px) rotate(360deg);
  }
}

html,
body {
  background-color: $purple-branding;
}

html.ios-standalone {
  $size: 20px;
  padding-top: $size;

  body.not-scrollable {
    margin-top: $size;
  }

  .main-nav .menu-button.open {
    margin-top: $size;
  }

  .app-modal-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $size;
    background-color: $purple-branding;
    z-index: $z-index-modal;
  }

  .app-modal {
    top: $size;
  }

  .app-sidebar {
    top: $size;
    height: calc(100% - #{$size});
  }

  app-navigation-header {
    z-index: $z-index-modal;
  }

  app-cta-header {
    padding-top: $size;
    margin-top: #{-$size};
  }
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .app-root {
    flex: 1;
  }
}

.mobile-hide {
  @include mediaquery('ls-md') {
    display: none;
  }
}
