@import 'common';
.round-button {
  display: inline-block;
  text-align: center;
  min-width: 160px;
  line-height: 2.3em;
  font-size: 1.3rem;
  appearance: none;
  border-radius: 6px;
  border: 1px solid transparent;
  white-space: nowrap;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  padding: 3px 2.5em;
  cursor: pointer;
  transition: color 0.1s, background-color 0.2s, border-color 0.1s;
  @include mediaquery('gt-sm') {
    padding: 0 2.5em;
  }
  &.loading {
    text-indent: -9999em;
    position: relative;
    &::after {
      content: '';
      color: currentColor;
      font-size: 13px;
      text-indent: -9999em;
      overflow: hidden;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      transform: translateZ(0);
      animation: load6 1.7s infinite ease, round 1.7s infinite ease;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0.00001px);
      z-index: $z-index-spinner;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &:disabled,
  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;
    opacity: 0.7;
  }
  &:focus {
    outline: 0;
  }
  &.alert-button {
    color: $white-text;
    font-weight: 700;
    background-color: $red-branding;
    &:hover {
      background-color: darken($red-branding, 5%);
    }
    &:disabled,
    &.disabled {
      background-color: #bfbfbf;
    }
  }
  &.branding-button {
    color: $purple-branding;
    border-color: $purple-branding;
    background-color: transparent;
    &:hover {
      background-color: $purple-branding-superlight;
    }
    &:focus {
      box-shadow: $purple-branding 0 0 10px;
    }
  }
  &.branding-button-inverse {
    color: $white-text;
    border-color: $white-text;
    background-color: $purple-branding;
    &:hover {
      background-color: lighten($purple-branding, 5%);
    }
    &:focus {
      box-shadow: $white-text 0 0 10px;
    }
  }
  &.alternative-button {
    color: $white-text;
    border-color: $white-text;
    background-color: $yellow-branding;
    &:hover {
      background-color: darken($yellow-branding, 4%);
    }
    &:focus {
      box-shadow: $yellow-branding 0 0 10px;
    }
  }
}

.circle-button {
  display: block;
  font-size: 30px;
  appearance: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: $purple-branding;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: $grey-text-darker 1px 2px 4px 0;
}
