@import "common";

@font-face {
  font-family: 'devicon';
  src: url('/static/fonts/devicon.eot?djfjg0');
  src: url('/static/fonts/devicon.eot?djfjg0#iefix') format('embedded-opentype'), url('/static/fonts/devicon.woff2?djfjg0') format('woff2'), url('/static/fonts/devicon.woff?djfjg0') format('woff'), url('/static/fonts/devicon.ttf?djfjg0') format('truetype'), url('/static/fonts/devicon.svg?djfjg0#devicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="devicon-"],
[class*=" devicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'devicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.devicon-devicon-plain:before {
  content: "\e93b";
}

.devicon-react-original:before {
  content: "\e601";
}

.devicon-angularjs-plain:before {
  content: "\e61d";
}

.devicon-css3-plain:before {
  content: "\e679";
}

.devicon-git-plain:before {
  content: "\e7a8";
}

.devicon-html5-plain:before {
  content: "\e7f7";
}

.devicon-javascript-plain:before {
  content: "\e845";
}

[class*="devicon-"] {
  font-size: 3rem;
}

.devicon {
  &-html5-plain {
    color: $html5-color;
  }
  &-css3-plain {
    color: $css3-color;
  }
  &-javascript-plain {
    color: $javascript-color;
  }
  &-angularjs-plain {
    color: $angularjs-color;
  }
  &-react-original {
    color: $react-color;
  }
  &-git-plain {
    color: $git-color;
  }
  &-devicon-plain {
    color: $other-color;
  }
}
