@import 'common';

simplemde {
  border: 1px solid $purple-branding-light;
  box-sizing: border-box;
  .editor-toolbar,
  .CodeMirror {
    border-radius: 0;
    border: 0;
  }
  .editor-toolbar {
    border-bottom: 1px solid $purple-branding-light;
    margin: {
      left: 5px;
      right: 5px;
    }
    @include mediaquery('gt-sm') {
      margin: {
        left: 20px;
        right: 20px;
      }
    }
  }
}
