@import "common";

.app-select {
  width: 240px;
  max-width: 100%;
  margin: 0;
  color: $purple-branding;
  font-size: 1.3rem;
  box-sizing: border-box;
  appearance: none;
  border: none;
  cursor: pointer;
  padding: 9px 25px 9px 4px;
  background-image: url(/static/images/select-purple.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-color: transparent;
  border-bottom: 1px solid $purple-branding;
  border-radius: 0;
  text-transform: capitalize;
  transition: background-color 0.1s, color 0.1s, box-shadow 0.1s;
  &:focus {
    outline: 0;
    box-shadow: $purple-branding 0 0 10px;
  }
  &:hover {
    background-color: transparentize($purple-branding, 0.95);
  }
}

simplemde {
  border: 1px solid $purple-branding-light;
  box-sizing: border-box;
  .editor-toolbar,
  .CodeMirror {
    border-radius: 0;
    border: 0;
  }
  .editor-toolbar {
    border-bottom: 1px solid $purple-branding-light;
    margin: {
      left: 5px;
      right: 5px;
    }
    @include mediaquery('gt-sm') {
      margin: {
        left: 20px;
        right: 20px;
      }
    }
  }
}
