@import 'common';
@import '_typography';
@import '_buttons';
@import '_forms';
@import '_devicon';
@import '_icons';

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

.not-scrollable {
  overflow: hidden;
  position: fixed;
  touch-action: none;
}

code[class*='language-'],
pre[class*='language-'] {
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}

pre[class*='language-']::after,
pre[class*='language-']::before {
  /* remove shadow from PRISM */
  display: none !important;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  99.9999% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes round {
  0% {
    transform: translate3d(-50%, -50%, 0.00001px) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0.00001px) rotate(360deg);
  }
}

html.ios-standalone {
  $size: 20px;
  padding-top: $size;
  body.not-scrollable {
    margin-top: $size;
  }
  .main-nav .menu-button.open {
    margin-top: $size;
  }
  .app-modal-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $size;
    background-color: $purple-branding;
    z-index: $z-index-modal;
  }
  .app-modal {
    top: $size;
  }
  .app-sidebar {
    top: $size;
    height: calc(100% - #{$size});
  }
  app-navigation-header {
    z-index: $z-index-modal;
  }
  app-cta-header {
    padding-top: $size;
    margin-top: #{-$size};
  }
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  .app-root {
    flex: 1;
  }
}

.mobile-hide {
  @include mediaquery('ls-md') {
    display: none;
  }
}
