$base-font-size: 10px;
$base-font-family: 'Fira Sans', sans-serif;

$white: #FFFFFF;
$grey: #e6e6e6;
$grey-light: #f1f1f1;
$grey-dark: #dcdada;
$yellow-light: #FBFFD7;
$yellow: #F0DF6F;
$aquamarine: #7DC89B;
$green: #0a803e;
$red-light: #C4473A;
$red: #E54D26;
$red-dark: #e21e14;
$cyan: #7BDEF9;
$blue-light: #3E8FC6;
$blue: #0c5aff;
$purple: #673AB7;
$purple-dark: #401886;
$black-light: #292929;
$black: #000000;

// new colors
$black-text-light: #292929;
$grey-text-primary: #737373;
$grey-text-secondary: #9C9C9C;
$grey-text-darker: #464646;
$grey-shadow: #E4E4E4;
$modal-shadow: #ADADAD;
$white-text: white;
$grey-background: #F8F8F8;
$purple-branding: #673AB7;
$purple-border-lighter: #713CCF;
$purple-branding-superlight: lighten($purple-branding, 48%);
$purple-branding-light: #D4C9E9;
$red-branding: #DC244A;
$orange-notification: #FDCC52;
$yellow-branding: #ffb90b;

$junior-border-color: #499DFF;
$junior-background-color: #EDF3F8;
$mid-border-color: #27BE31;
$mid-background-color: #EDF8F2;

$container-small-width: 100%;
$container-large-width: 1030px;
$container-small-padding: 10px;
$container-large-padding: 45px;
$navigation-header-height: 60px;
$sticky-header-height: 55px;
$footer-height: 55px;
$sidebar-width: 245px;

$html5-color: #E54D26;
$css3-color: #3E8FC6;
$javascript-color: #F0DF6F;
$angularjs-color: #C4473A;
$react-color: #7BDEF9;
$git-color: #E54D26;
$other-color: #7DC89B;

$junior-light-color: #EDF3F8;
$junior-main-color: #499DFF;
$mid-light-color: #EDF8F2;
$mid-main-color: #27BE31;
$senior-light-color: #FFFBF0;
$senior-main-color: #FFB90B;

$z-index-mobile-sidebar: 9980;
$z-index-modal-container: 9990;
$z-index-modal: 10000;
$z-index-spinner: 10010;
