@import './common';
@import 'node_modules/normalize-scss/sass/normalize.scss';
@include normalize();

html {
  overflow-y: scroll;
  font-size: 10px;
}

html,
a,
p,
li {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  width: 100%;
}
