{
  "root": false,
  "extends": ["plugin:import/errors"],
  "rules": {
    "@typescript-eslint/no-unused-vars": "off"
  },
  "overrides": [
    {
      "files": ["src/models/*.ts"],
      "rules": {
        "import/no-cycle": "off"
      }
    }
  ]
}
