name: Test and Build

on:
  pull_request:
    branches: [develop, master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Read git tree hash
        run: echo "##[set-output name=GIT_TREE_HASH;]$(git rev-parse HEAD:)"
        id: git-tree-hash

      - name: Cache result and skip tests if the tree is the same
        id: cache-to-skip
        uses: actions/cache@v2
        with:
          path: package-lock.json
          key: ${{ runner.OS }}-node-${{ steps.git-tree-hash.outputs.GIT_TREE_HASH }}

      - name: Read .nvmrc
        if: steps.cache-to-skip.outputs.cache-hit != 'true'
        run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"
        id: nvm
      - name: Use Node.js
        if: steps.cache-to-skip.outputs.cache-hit != 'true'
        uses: actions/setup-node@v1
        with:
          node-version: '${{ steps.nvm.outputs.NVMRC }}'

      - name: Cache Node.js modules
        if: steps.cache-to-skip.outputs.cache-hit != 'true'
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-

      - name: Install dependencies
        if: steps.cache-to-skip.outputs.cache-hit != 'true'
        run: npm ci

      - name: Run tests
        if: steps.cache-to-skip.outputs.cache-hit != 'true'
        run: npm test

      - name: Run build
        if: steps.cache-to-skip.outputs.cache-hit != 'true'
        run: npm run build

      - name: Save Sizelimit artifact
        if: steps.cache-to-skip.outputs.cache-hit != 'true'
        run: ./node_modules/.bin/size-limit > size-limit.json

      - name: Sizelimit
        if: steps.cache-to-skip.outputs.cache-hit != 'true'
        uses: typeofweb/size-limit-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          skip_step: build
          artifact-name: size-limit.md
